NODE_ENV=development
HT_NETWORK=devnet
PORT=8787
DATABASE_URL=postgres://postgres:postgres@localhost:5432/humbletrust
SOLANA_RPC_HTTP=https://api.devnet.solana.com
SOLANA_RPC_WS=wss://api.devnet.solana.com
HUMBLETRUST_V2_PROGRAM_ID=FGQ16c5cmDkmDRG27kt27VrZP3FnhHTH3qtrXoMg3PGr
RAYDIUM_CPMM_PROGRAM_ID=DRaycpLY18LhpbydsBWbVJtxpNv9oXPgjRSfpF2bWpYb
CORS_ORIGIN=http://localhost:5173,https://humbletrust.vercel.app
